body,html{
	height:70%;padding:0px;margin:0px;
}

#fondo {
	height:100%;
	width: 100%;
	background: url(../img/Fondo.jpg) no-repeat center center fixed;
	background-size: cover;
}

#ayuda {
	background-image: url(../img/fondo2.jpg);
	border-style: outset;
	display: inline-block;
	bottom: 80px;left: 0; right:0;
	font-size: 130%;
	margin:0 auto;
	width: 650px;
	height: 550px;
	text-align: center;
	position:fixed;
	background-color: grey;
	border-radius: 50px;
	z-index: 1;
}
